NOTIFY_REPO=PabloGitHubOrg/Notifications
NOTIFY_USER=PabloCastellano
API_TOKEN=abcdefghijklmnopqrstuvwxyz01234567890123
SECRET_TOKEN=AAAAAA-BBBBBB-CCCCCC-DDDDDD-EEEEEE

VIRTUAL_HOST=webhooks-github.mydomain.net
LETSENCRYPT_HOST=webhooks-github.mydomain.net
LETSENCRYPT_EMAIL=user@mydomain.net
